@import "../../../static/css/common";
@import "../../../static/css/global";

.chatting-topbar {
  @include keep_main_body_width;
  left: auto !important;
  position: fixed !important;
  background-color: white ;
  display: inline-block ;
  top: 0;

  div.title {
    position: relative;

    span.title {
      //height: $topbarHeight * 0.8;
      //line-height: $topbarHeight * 0.8;

    }

    span.info {
      height: $topbarHeight * 0.32;
      line-height: $topbarHeight * 0.32;
      position: absolute;
      width: 100%;
      bottom: -5px;
      left: 0;
      color: #999;
      font-size: 0.88em;
    }

    span.hidden {
      display: none;
    }
  }

}