@import "../../static/css/common";

.load-more-bar {
  color: #999;
  padding-bottom: $topbarHeight;
  div {
    display: block;
    width: 100%;
    text-align: center;
  }

  span {
    height: $topbarHeight;
    line-height: $topbarHeight;
    font-size: $topbarHeight * 0.25;
  }

  .is-loading {
    img {
      display: inline-block;
      width: 50%;
      margin: 30px auto;
    }
  }
}