@import "../../static/css/common";
@import "../../static/css/global";

.tabbar {
  @include keep_main_body_width;
  background-color: rgb(245, 245, 245);
  display: block;
  position: fixed;

  bottom: 0;

  height: 50px;
  width: 100%;
  border-top: 1px solid #eee;

  .icons {
    display: flex;
    justify-content: space-around;

    span {
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 10px;
      outline: none;
      height: 100%;
      line-height: 30px;
      font-size: 25px;
      text-align: center;
      // 假装细一点
      -webkit-text-stroke: .7px white;
      color: #777;
    }

    span.actived {
      -webkit-text-stroke: 0px white;
      color: $same_blue;
    }
  }

}