// 控制主内容区域宽度
$main_body_width: 36%;

// 头部Bar统一高度
$topbarHeight: 45px;
.topbar {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $topbarHeight;

  div.title {
    display: block;
    width: 100%;
    height: $topbarHeight;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  span {
    margin: 0;
    padding: 0;
    outline: none;

    display: inline-block;
    line-height: $topbarHeight;
    font-size: $topbarHeight / 2.8;
  }

  span.title {
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  span.icon {
    font-size: $topbarHeight / 2;
    margin-right: 10px;
    margin-left: 10px;
  }
}

$light_sky: #D9F0FB;