.chatting {

  div.created_at {
    text-align: center;
    span {
      display: inline-block;
    }
    color: #ddd;
    padding-top: 20px;
  }

  .chatting-msgs {
    padding-bottom: 100px;
    vertical-align: bottom;
  }
}



